.app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(60.86deg, #988EEF -40.3%, rgba(152, 142, 239, 0) 74.77%), radial-gradient(50% 98.88% at 50% 50%, rgba(95, 49, 196, 0.2) 20.31%, rgba(0, 0, 0, 0) 95.83%), #0A061A;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1 ;
}


.back_btn{
  width: 70rem;
  margin: 1rem;
}

.refresh{
    height: 3rem;
    width: 3rem;
    border: 1px solid whitesmoke;
    border-radius: 1.5rem;
    color: aliceblue;
  padding: 0.4rem;
}




